<div class="container">
  <form (ngSubmit)="getPeliculas(opcion)">
    <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" [(ngModel)]="opcion" name="opcion">
          <option value="populares" selected>Populares</option>
          <option value="actuales">En Cartelera</option>
          <option value="kids">Niños</option>
        </select>
      </div>
      <div class="col-auto my-1">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </form>
  <form (ngSubmit)="buscar(parametro)">
    <div class="form-row align-items center">
      <div class="col-auto my-1">
        <input class="form-control" type="buscar" placeholder="Buscar" aria-label="Buscar" [(ngModel)]="parametro"
          name="parametro">
      </div>
      <div class="col-auto my-1">
        <button class="btn btn-primary" type="submit">Enviar</button>
      </div>
    </div>
  </form>
  <div>
    <div class="card-columns m5 animated fadeIn" *ngIf="!loading">
      <div>
        <div *ngFor="let pelicula of peliculas" class="card puntero" [routerLink]="['/pelicula', pelicula.id]">
          <img *ngIf="pelicula.poster_path" src="https://image.tmdb.org/t/p/w500{{pelicula.poster_path}}"
            alt="imagen de película" class="card-img-top">
          <img *ngIf="!pelicula.poster_path" src="assets/img/noimage.png" class="card puntero" [alt]="pelicula.title" />
        </div>
      </div>
    </div>
    <div *ngIf="loading">
      <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="assets/img/loading.gif"
          width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed"
          allowFullScreen></iframe>
      </div>
      <p><a href="https://giphy.com/gifs/loading-icon-indicator-u2Prjtt7QYD0A"></a></p>
    </div>
  </div>
</div>